html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  height: 100vh;
  display: flex;
}

.centered {
  margin: auto;
  text-align: center;
}

button {
  margin: 1em !important;
}

#form {
  margin-bottom: 2em;
}

#select {
  min-width: 120px;
  text-align: left;
}